<div class="container">
    <div class="row">
        <div class="col-4">
            <%= render 'shareds/menu' %>
        </div>
        <div class="col-8">
            <table>
                <th class="pr-5">name</th><th class="pr-1">フォロー</th><th>フォロワー</th>
                <%= render @users %>
            </table>
        </div>
    </div>
</div>