<div class="container">
    <div class="row">
        <div class="col-4">
            <%= render 'shareds/menu' %>
        </div>
        <div class="col-8 wrapper">
             <%= render @posts %>
        </div>
    </div>
</div>
<%= render 'posts/modal' %>

